/* :root {
  --board-color: #82c4e8;
} */

/* Default board style */
.lpv__board cg-board {
  background-image: url(green.png);
}

/* Blue board style */
.lpv-board-blue .lpv__board cg-board {
  background-image: url(blue.png);
}

/* Add more board styles as needed */
.lpv-board-wood .lpv__board cg-board {
  background-image: url(wood.jpg);
}

.lpv-board-green .lpv__board cg-board {
  background-image: url(green.png);
}

.lpv-board-metal .lpv__board cg-board {
  background-image: url(metal.jpg);
}

.lpv-board-newspaper .lpv__board cg-board {
  background-image: url(newspaper.svg);
}

/* Light scheme. */
.lpv.lpv-theme-light,
.lpv-theme-light .lpv__fbt,
.lpv-theme-light .lpv__player,
.lpv-theme-light .lpv__moves,
.lpv-theme-light .lpv__menu,
.lpv-theme-light .lpv__pane {
  --c-lpv-bg: #eeeeee;
  --c-lpv-bg-variation: #dedede;
  --c-lpv-bg-movelist: #eeeeee;
  --c-lpv-bg-pane: #eeeeee;
  --c-lpv-pgn-text: #eeeeee;
  --c-lpv-bg-controls: #eeeeee;
  --c-lpv-bg-player: #eeeeee;
  --c-lpv-font: #333;
  --c-lpv-font-shy: #444;
}

/* Solarized Light scheme */
.lpv.lpv-theme-solarizedlight,
.lpv-theme-solarizedlight .lpv__fbt,
.lpv-theme-solarizedlight .lpv__player,
.lpv-theme-solarizedlight .lpv__moves,
.lpv-theme-solarizedlight .lpv__menu,
.lpv-theme-solarizedlight .lpv__pane {
  --c-lpv-bg: #fdf6e3; /* base3: main background */
  --c-lpv-bg-variation: #eee8d5; /* base2: variation background */
  --c-lpv-bg-movelist: #fdf6e3; /* base3: movelist background */
  --c-lpv-bg-pane: #fdf6e3; /* base3: pane background */
  --c-lpv-pgn-text: #fdf6e3; /* base3: pgn text */
  --c-lpv-bg-controls: #fdf6e3; /* base3: controls background */
  --c-lpv-bg-player: #fdf6e3; /* base3: player background */
  --c-lpv-font: #657b83; /* base00: main font color */
  --c-lpv-font-shy: #93a1a1; /* base1: secondary font color */
}

/* Solarized Dark scheme */
.lpv.lpv-theme-solarizeddark,
.lpv-theme-solarizeddark .lpv__fbt,
.lpv-theme-solarizeddark .lpv__player,
.lpv-theme-solarizeddark .lpv__moves,
.lpv-theme-solarizeddark .lpv__menu,
.lpv-theme-solarizeddark .lpv__pane {
  --c-lpv-bg: #002b36; /* base03: main background */
  --c-lpv-bg-variation: #073642; /* base02: variation background */
  --c-lpv-bg-movelist: #002b36; /* base03: movelist background */
  --c-lpv-bg-pane: #002b36; /* base03: pane background */
  --c-lpv-pgn-text: #002b36; /* base03: pgn text */
  --c-lpv-bg-controls: #002b36; /* base03: controls background */
  --c-lpv-bg-player: #002b36; /* base03: player background */
  --c-lpv-font: #93a1a1; /* base1: main font color */
  --c-lpv-font-shy: #586e75; /* base01: secondary font color */
}

@media (hover: hover) {
  .lpv__fbt:hover:not(.disabled):not([disabled])::before,
  .lpv__fbt:hover:not(.disabled):not([disabled]) {
    color: #3c3;
  }
}

.lpv__board .cg-wrap coords {
  font-size: 18px;
}

.lpv__board .cg-wrap coords.files {
  transform: translate(-8px, -8px);
}
